@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .modern-input {
    @apply w-full px-4 py-3 bg-slate-50 border border-slate-200 rounded-xl 
           outline-none transition-all duration-200
           focus:bg-white focus:border-blue-500 focus:ring-4 focus:ring-blue-500/10
           placeholder:text-slate-300 text-slate-700 font-medium;
  }
}
@layer components {
  .dark-input {
    @apply w-full px-4 py-3 bg-[#1e293b] border border-slate-600 rounded-xl 
           outline-none transition-all duration-300
           focus:bg-[#1e293b] focus:border-indigo-500 focus:ring-4 focus:ring-indigo-500/10
           placeholder:text-slate-500 text-white font-medium shadow-sm;
  }
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}
